*.mp4 
.idea 
*.pdf
# Ignore all .md files
*.md
config.json
# Except README.md
!README.md
Videos/*
Driver\ Drowsiness\ Detection.canvas
#official mediapipe files
face_mesh_connections.py
mp_hands.py
face_mesh_eye_mouth_config.json
.gitignore
#ignore activation command
start.bash